# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
build/
dist/
eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.coverage.*
.pytest_cache/

# Translations
*.mo

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env
.venv
env/
venv/
ENV/

# Flask stuff:
instance/

# Pyre type checker
.pyre/

# Azure Functions artifacts
bin/
obj/
appsettings.json
local.settings.json

# Credentials and Tokens
credentials.json
token.json

# Python Packages
.python_packages/

# Pipenv
Pipfile.lock
.aider*
# .vscode needs to be ignored due to azure functions
.vscode